<div class="index-page">
<% if @cocktails.length == 1 %>
  <% result = "result" %>
<% else %>
  <% result = "results" %>
<% end %>


  <div>
    <div class="container">
      <p class="pink-text">Your search for <%= params[:search] %> has <%= @cocktails.length %> <%= result %>: </p>
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card-category">
            <%= cl_image_tag cocktail.photo %>
            <p class="name"><%= cocktail.name %></p>
            <p class="link">See recipe...</p>
          </div>
        <% end %>
      <% end  %>
    </div>


    <%= link_to new_cocktail_path do %>
      <p class="pink-text">Add a new cocktail recipe to The Cocktail Club</p>
    <% end %>
  </div>





</div>




