<div class="index-page">
<% if @cocktails.length == 1 %>
  <% result = "result" %>
<% else %>
  <% result = "results" %>
<% end %>



  <div>
      <p class="pink-text">Your search has <%= @cocktails.length %> <%= result %>: </p>
      <div class="container">
        <div class="row">
          <% @cocktails.each do |cocktail| %>
            <div class="card-category col-4">
              <%= link_to cocktail_path(cocktail) do %>
                <%= cl_image_tag cocktail.photo %>
              <p class="name highlight"><%= cocktail.name %></p>
              <p class="link highlight">See recipe...</p>
              <% end %>
            </div>
          <% end  %>
        </div>
      </div>


    <%= link_to new_cocktail_path do %>
      <p class="pink-text">Add a new cocktail recipe to The Cocktail Club</p>
    <% end %>
  </div>





</div>




