<div class="container">


      <h1>Add a new cocktail</h1>
      <div class="input-group">
        <%= simple_form_for @cocktail do |f| %>
        <%= f.text_field :name, placeholder: 'Name your cocktail', class:"form-control"%>

          <div class="form-photo">
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
          </div>



          <div class="row input-group-append">
            <%= f.submit "add this cocktail", class: 'submit-button'%>
          </div>
        <% end %>
      </div>


</div>


