<div class="container">


      <h1>Add a new cocktail!</h1>
      <p class="pink-text">You will add the ingredients on the next page.</p>
      <div class="input-group">
        <%= simple_form_for @cocktail do |f| %>
        <%= f.text_field :name %>

          <div class="form-photo">
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
          </div>

          <div class="row input-group-append">
            <%= f.submit "add this cocktail", class: 'btn btn-primary'%>
          </div>
        <% end %>
      </div>


</div>


