<div class="container">
  <div class="row justify-content-center">

    <div class="show-image">
      <%= cl_image_tag @cocktail.photo %>


      <div class="show-info">
        <h1 class="show-name"><%= @cocktail.name %></h1>
        <div class="ingredients">
          <p class="pink-text">Ingredients:</p>
          <ul>
           <% @cocktail.doses.each do |dose| %>
             <li class="show-dose"><%= dose.description %> of <%= dose.ingredient.name %></li>
           <% end %>
           </ul>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Edit ingredients
        </button>
      </div>
    </div>


    </div>
  </div>
  <p><%= link_to "Back", root_path %> | <%= link_to "Delete", cocktail_path(@cocktail), method: :delete %></p>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingredients</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description %>
          <%= f.association :ingredient %>
          <%= f.button :submit %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


